files:
    "/sbin/appstart":
        mode: "000777"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            CURRENT_PID=$(pgrep -fl application | grep java | awk '{print $1}')
            if [ -z "$CURRENT_PID" ]; then
                echo "> java not vision"
            else
                sudo kill -15 $CURRENT_PID
                sleep 5
            fi

            sudo java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $JAR_PATH